{{#each releases}}
  {{#if href}}
    ## [{{title}}]({{href}}){{#if tag}} - {{niceDate}}{{/if}}
  {{else}}
    ## {{title}}{{#if tag}} - {{niceDate}}{{/if}}
  {{/if}}

  {{#if summary}}
    {{summary}}
  {{/if}}

  {{#if merges}}
    ### Merged

    {{#each merges}}
      - <img src = "./ressources/merge.svg" width="32px" height="32px"/> {{message}} {{#if href}}[`#{{id}}`]({{href}}){{/if}}
    {{/each}}
  {{/if}}

  {{#if fixes}}
    ### Fixed
    {{#each fixes}}
      - {{commit.subject}}{{#each fixes}} {{#if href}}[`#{{id}}`]({{href}}){{/if}}{{/each}}
    {{/each}}
  {{/if}}

  {{#commit-list commits heading='### Commits'}}
    - <img src = "./ressources/commit.svg" width="32px" height="32px"/> {{#if breaking}}**Breaking change:** {{/if}}{{subject}} {{#if href}}[`{{shorthash}}`]({{href}}){{/if}}
  {{/commit-list}}

{{/each}}