<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Produits</th>
                        <th>Quantité</th>
                        <th class="text-center">Prix €</th>
                        <th class="text-center">Total €</th>
                        <th/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="purchase in purchaseList" v-bind:key="purchase.id">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ purchase.product.name }}</a></h4>
                                </div>
                            </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="text" class="form-control" id="exampleInputEmail1" :value="purchase.amount" disabled>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ purchase.product.price | numeral('0.00') }}€</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ purchase.amount * purchase.product.price | numeral('0.00') }}€</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button :type="'remove-' + purchase.id" class="btn btn-danger" id="deleteBtn">
                                <Octicon :icon="trashcan"/>
                            </button></td>
                    </tr>
                    <tr>
                        <td/>
                        <td/>
                        <td/>
                        <td><h5>Sous-Total €</h5></td>
                        <td class="text-right"><h5 name="subTotalValue"><strong>{{ subtotal | numeral('0.00') }}€</strong></h5></td>
                    </tr>
                    <tr>
                        <td/>
                        <td/>
                        <td/>
                        <td><h5>TVA (15%)</h5></td>
                        <td class="text-right"><h5><strong>{{ tva | numeral('0.00') }}€</strong></h5></td>
                    </tr>
                    <tr>
                        <td/>
                        <td/>
                        <td/>
                        <td><h3>Total €</h3></td>
                        <td class="text-right"><h3><strong>{{ subtotal + tva | numeral('0.00') }}€</strong></h3></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import VueCookies from 'vue-cookies'
    const { Octicon, trashcan } = require('octicons-vue');
    import env from "../../config/environment-variable";

    export default {
        name: "Billing",
        created() {
            this.getClientPurchase();
        },
        data() {
            return {
                purchaseList: [],
                trashcan
            };
        },
        components: {
            Octicon
        },
        methods: {
            async getClientPurchase() {
                let self = this;
                var selectedClient = VueCookies.get('selected-client');
                fetch(
                    env.httpOrHttps +'://' + env.backendUrl + '/purchase/?client=' + selectedClient.id,
                    {
                        method: "GET"
                    }
                )
                    .then(response =>
                        response.json()
                            .then(json => {
                                self.purchaseList = json;
                            })
                    )
                    .catch(err => {
                        //eslint-disable-next-line no-console
                        console.log(err);
                    });
            }
        },
        computed: {
            subtotal : function() {
                if(this.purchaseList.length === 0) {
                    return 0
                } else {
                    var result = 0;
                    for(var i = 0; i < this.purchaseList.length; i++) {
                        result += this.purchaseList[i].amount * this.purchaseList[i].product.price
                    }
                    return result;
                }
            },
            tva: function () {
                return this.subtotal / 100 * 15;
            }
        }
    }
</script>
